{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/vk.jpeg' %}" >
					<hr>
					<h4>Hi I'm Vamsy Krishna Kalaga!</h4>
					<p>I love coding, doing research and collaborating</p>
                    <p>Computer Science Graduate | Aspiring Data Analyst | Passionate About Data Modeling | Expertise in Cloud Migrations, Security & Automation</p>
                    <p>📍 Dayton, Ohio, United States</p>
				</div>
            </div>
            <div class="col-md-8">
                <div class="card card-body h-100  border-info">
					
                    <p>
                        Aspiring Data Analyst and technology enthusiast, I am a Computer Science graduate student with a passion for leveraging AI and data science modeling to drive innovative solutions. 
                    </p>
                    <p>
                        In my professional journey, I’ve:
                        <ul>    
                            <li>
                                ✔️ Automated workflows using Microsoft Power Automate, streamlining processes, reducing manual tasks, and improving overall productivity.
                            </li>
                            <li>
                                ✔️ Developed scripts to support migrations and data gathering, resulting in more efficient and error-free operations.
                            </li>
                            <li>
                                ✔️ Led tenant-to-tenant migrations for platforms like SharePoint, OneDrive, MS Teams, and BOX, ensuring seamless transitions and minimal disruption.
                            </li>
                            <li>
                                ✔️ Integrated data analysis tools like Power BI to deliver real-time insights and improve decision-making processes.
                            </li>
                            <li>
                                ✔️ Utilized project management tools such as Azure DevOps and Jira to manage tasks, track progress, and ensure timely delivery of complex projects.
                            </li>
                            <li>
                                ✔️ Fostered teamwork and cross-functional communication to build secure, scalable systems that deliver impactful results.
                            </li>
                        </ul>
                        
                        <p>
                            As I continue to explore the world of data analysis and AI, I aim to embrace new challenges, build lasting connections, and promote a culture of continuous improvement. My goal is to combine technical rigor with strategic thinking to solve real-world challenges.
                        </p>
                        <p>
                            With my approach, you can expect cutting-edge solutions combined with practical insights, all while making the process seamless, efficient, and engaging! 🎉
                        </p>    
                    </p>
					<ul class="social-links">
						<li><a href="https://www.facebook.com/vamsykrishna.kalaga/"><img class="social" src="{% static 'images/facebook.png' %}"></a></li>
						<li><a href="https://www.linkedin.com/in/vamsy-krishna-kalaga/"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
					</ul>
				</div>
            </div>
        </div>
        <br>
        <div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
                    <h4>My First Job as a Developer</h4>
					<hr>
                    <h5>Senior System Engineer at Infosys</h5>
                    <h5>October 2022 - July 2024 (1 year 10 months)</h5>
                    <h5>Hyderabad, Telangana, India</h5>
                    <ul>
                        <li>👉🏻 Designed and implemented automated workflows using Microsoft Power Automate, increasing process efficiency, reducing manual interventions, and ensuring operational consistency.</li>
                        <li>👉🏻 Developed and executed scripts for managing migrations and gathering data for OneDrive, Teams, and SharePoint, improving operational efficiency and accuracy.</li>
                        <li>👉🏻 Spearheaded the migration of SharePoint, OneDrive, MS Teams, and BOX environments between Microsoft tenants, ensuring seamless transitions and minimizing disruption.</li>
                        <li>👉🏻 Streamlined tenant-to-tenant migrations by utilizing Automation tools and the ShareGate application, enhancing efficiency and reducing manual efforts.</li>
                    </ul> 

					
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
                    <h5>System Engineer at Infosys</h5>
                    <hr>
                    <h5>January 2021 - October 2022 (1 years 10 months)</h5>
                    <h5>Hyderabad, Telangana, India</h5>
                    <p>In my role as a System Engineer at Infosys, I was responsible for developing and maintaining mainframe applications using COBOL, which played a critical role in supporting essential business operations. My key contributions included:
                    </p>
                    <ul>
                        <li><strong>👉🏻 Application Development:</strong> I designed and optimized JCL (Job Control Language) scripts for batch job scheduling and execution, which streamlined system processes and significantly improved operational efficiency.</li>
                        <li><strong>👉🏻 Incident Management:</strong> Utilizing ServiceNow, I managed incidents and resolved problems effectively, ensuring swift solutions that enhanced overall service delivery and user satisfaction.</li>
                        <li><strong>👉🏻 System Operations:</strong> I executed the Initial Program Load (IPL) of mainframe systems, ensuring seamless system startup and recovery while minimizing downtime during scheduled maintenance and upgrades.</li>
                    </ul>
                    <p>Through these responsibilities, I gained valuable experience in mainframe technologies and honed my skills in problem-solving and system optimization, laying a strong foundation for my career in IT.</p>
                    
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
                    <p>1. I learn by doing. I like to get my hands dirty and try things out for myself.</p>
                    <p>2. I learn by teaching. I like to explain things to others and help them understand.</p>
                    <p>3. I learn by reading. I like to read books, articles, and blogs about data science and technology.</p>
                    <p>4. I learn by watching. I like to watch videos and tutorials about data science and technology.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
                    <p>To become a Data Analyst and work on real-world projects that make a difference.</p>
                    <p>To learn more about data science and machine learning.</p>
                    <p>To build a portfolio of projects that showcase my skills and knowledge.</p>
                    <p>To network with professionals in the field and learn from their experiences.</p>
				</div>
			</div>
		</div>
		<br>
	</div>
</body>
</html>